body {
    margin: 0;
    padding: calc(1.2em + 40px) 0 0 0; /* padding to pass over navigation bar */
    font-family: Roboto, sans-serif;
    background-color: #FBEAD0;
}
@media only screen and (max-width: 640px) {
    body {
        padding: calc(2em + 2*10px) 0 0 0; /* padding to pass over navigation bar - 2x height of bar */
    }
    .icon-box{
        margin-left: 3em;
      }
}
/*Main structure for whole page - style of "one page" */
div.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}