body {
    margin: 0;
    padding: calc(1.2em + 40px) 0 0 0; /* padding to pass over navigation bar */
    font-family: Roboto, sans-serif;
    background-color: #FBEAD0;
}
@media only screen and (max-width: 640px) {
    body {
        padding: calc(2em + 2*10px) 0 0 0; /* padding to pass over navigation bar - 2x height of bar */
    }
}
/*Main structure for whole page - style of "one page" */
div.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#function {

}
.container  {
    margin-top: 10px;
    display: flex;
    flex-direction: row ;
    font-size: 1.5em;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    background-color: #ba4436;
    box-shadow: 0 5px 10px #742b1d;
}

.long-info{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3em;

}
.column
{
   text-align: justify;
    padding: 10px;
}
.abc {
padding: 10px 60px 0 10px;

}
}
