///////////////////////////////////////////// Main /////////////////////////////////////////////////

body {
  margin: 0;
  padding-top: 90px; /* padding to pass over navigation bar */
  font-family: Roboto, sans-serif;
  background-color: #FBEAD0;
}

///////////////////////////////////////////// Navbar //////////////////////////////////////////////

.header_menu {
  background-color: #ba4436;
  box-shadow: 0 5px 10px #742b1d;
  padding: 10px 0;
}
.header_menu_brand_img {
  max-width:100px;
}
.navbar-brand {
  height: auto;
  padding: 0;
  margin-left: 20px;
}

.navbar-default {
   border: none;
  .navbar-nav {
    & > li {
      text-align: center;
      font-size: 1.5em;
      & i {
        margin-right: 10px;
      }
      & > a {
        color: #FBEAD0;
        font-family: Roboto, sans-serif;
        margin-top: 6px;
        &:hover {
          cursor: pointer;
          color: #ba4436;
          background-color: #FBEAD0;
          font-weight: bold;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-default .navbar-nav > li {
    font-size: 1.2em;
  }
}
@media screen and (max-width:991px) {
  .header_menu_brand_img {
    max-width:90px;
  }
  .navbar-default .navbar-nav > li > a {
    margin-top: 2.5px;
  }
}
///////////////////////////////////////////// Nav - button //////////////////////////////////////////////

.navbar-default .navbar-toggle {
  border-color: #FBEAD0;
  margin-top: 12px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FBEAD0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #FBEAD0;
  .icon-bar {
    background-color: #ba4436;
  }
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #FBEAD0;
}

///////////////////////////////////////////// Footer //////////////////////////////////////////////

footer {
  background-color: #ba4436;
  box-shadow: 0 -5px 10px #742b1d;
}
.navbar-fixed-bottom {
  z-index: 0;
}
.footer_up_aside {
  padding: 10px 0;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-size: 1.4em;
    text-decoration: none;
    background-color: #FBEAD0;
    color: #ba4436;
    border: 5px solid #ba4436;
  }
  a i {
    font-size: 2em;
  }
  a:hover {
    background-color: #ba4436;
    color: #FBEAD0;
    cursor: pointer;
    font-weight: bold;
  }
}
.footer_up_aside_team {
  color: #FBEAD0;
  font-size: 1.4em;
  text-align: center;
  ul {
    list-style-type: none;
    padding: 0;
  }
  ul li {
    padding: 5px 0;
  }
  img {
    width: 50px;
  }
  span {
    margin-left: 30px;
  }
}
.footer_up_aside_text {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer_up_aside_button {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-left: 3px solid #ba4436;
  width: 50px;
}
.footer_up_aside_telephone_number {
  font-size: 0.8em;
}
@media screen and (max-width: 1199px) {
  .footer_up_aside {
    a {
      font-size: 1.1em;
    }
  }
  .footer_up_aside_telephone_number {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 991px) {
  .footer_up_aside_team {
    display: none;
  }
  .footer_up_aside_list {
    display: none;
  }
}
.footer_down {
  color: #FBEAD0;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  display: none;
}