#nav_640 {
    display: none;
}
ul.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top:0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ba4436;
    box-shadow: 0 5px 10px #742b1d;
}
ul.navigation  li{
    display: flex;
    margin: 0;
    background-color: #ba4436;
    text-align: center;
    font-size: 1.2em;
}
ul.navigation  i{
    margin-right: 10px;
}
ul.navigation  a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 40px;
}
ul.navigation  a:active{
    background-color: #742b1d;
}
ul.navigation a:hover {
    cursor: pointer;
    color: #FBEAD0;
}
@media only screen and (min-width: 1366px) {
    ul.navigation li {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 640px) {
    #nav_640 {
        display: flex;
    }
    #nav_1024 {
        display: none;
    }
    ul.navigation  i{
        margin-right: 0;
    }
    ul.navigation  a{
        padding: 10px 20px;
        font-size: 2em;
    }
}

