ul.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ba4436;
    box-shadow: 0 5px 10px #742b1d;
    top:0;
    }
ul.navigation  li{
    display: flex;
    background-color: #ba4436;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
}
ul.navigation  i{
    margin-right: 10px;
}
ul.navigation  a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 5px;
}
ul.navigation  a:active{
    background-color: #000000;
}
ul.navigation a:hover {
    cursor: pointer;
    color: #FBEAD0;
}


