body{
  padding: 0;
  margin: 0;
  background-color: #FBEAD0;
  font-family: Roboto, sans-serif;
}

section#sign{
  background-color: #ba4436;
  text-align: center;
  padding: 5em 0;
  .icon-box{
    display: flex;
    align-items: center;
  }
  .row{
    padding: 1em 0;
  }
  i{
    font-size: 3em;
    width: 2em;
    height: 2em;
    border: 2px solid #FBEAD0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .label{
    font-size: 1.3em;
    margin-left: 1em;
  }
  p{
    margin-top: 3em;
  }
}


form.premiere{
  text-align: center;
  color: #FBEAD0;
  letter-spacing: 2px;
  font-weight: bold;
}

form.premiere input{
  margin-top: 2em;
  border: none;
  outline: none;
  &[type=text]{
    width: 100%;
  }
  &:hover{
    cursor: pointer;
  }
  &:active{
    border: none;
  &:focus{
    box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
    color: #742b1d;
    font-weight: bold;
    text-transform: uppercase;
  }
  &:visited{
    box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
    color: #742b1d;
  }
}

form.premiere input[type=submit]{
  background-color: #742b1d;
  color: #FBEAD0;
  border: none;
  padding: 1em 6em;
}
