body{
    padding: 0;
    margin: 0;
    background-color: #FBEAD0;
    font-family: Roboto, sans-serif;
}

form.premiere{
    padding: 30px;
    text-align: center;
    background-color: #ba4436;
    color: #FBEAD0;
    letter-spacing: 2px;
    font-weight: bold;
}

.premiere-top{
    display: flex;
    flex-direction: row;
}

.premiere-left{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 30%;
}
.premiere-right{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 60%;
}


form.premiere input{
    border-radius: 5px;
    height: 50px;
    text-align: center;
    background-color: #FBEAD0;
    color: #6a271a;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 10px;
}

form.premiere input:hover{
    cursor: pointer;
}

form.premiere input:active{
    border: none;
}

form.premiere input[type=text]{
    width: 100%;
}

form.premiere input[type=text]:focus{
    box-shadow: 0 0 15px #742b1d;
    background-color: #f2e2ca;
}

form.premiere input[type=email]{
    width: 100%;
}

form.premiere input[type=email]:focus{
    box-shadow: 0 0 15px #742b1d;
}

form.premiere input[type=submit]{
    width: 100%;
    background-color: #742b1d;
    color: #FBEAD0;
    margin: auto;
    margin-top: 40px;

}

form.premiere input[type=submit]:hover{
    background-color: #6a271a;
}

form.premiere input[type=submit]:active{
    background-color: #742b1d;
}

form.premiere span{
    margin-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
}

form.premiere p.info{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

form.premiere i{
    color: #ba4436;
    margin-right: 10px;
    box-shadow: 0 0 2px #742b1d;
    background-color: #f2e2ca;
    display: inline-block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 1px 0 0 2px;
    line-height: 180%;
    border-radius: 100%;
    font-size: 28px;;
}


@media only screen and (min-width: 768px) {
    form.premiere input[type=text]{
        width: 100%;
    }
    form.premiere input[type=email]{
        width: 100%;
    }
    form.premiere input[type=submit]{
        width: 100%;
    }
}