body {
  margin: 0;
  padding-top: 73px;
  font-family: Roboto, sans-serif;
  background-color: #FBEAD0; }

#sign, #function, #team, #extras {
  padding-top: 73px; }

.nav-menu {
  padding: 10px 0;
  background-color: #ba4436;
  box-shadow: 0 5px 10px #742b1d; }

.nav-menu__brand-img {
  max-width: 100px; }

.nav-menu__brand {
  height: auto;
  padding: 0;
  margin-left: 20px; }

.nav-menu {
  border: none; }
  .nav-menu .nav-menu__list > li {
    text-align: center;
    font-size: 1.5em; }
    .nav-menu .nav-menu__list > li i {
      margin-right: 10px; }
    .nav-menu .nav-menu__list > li > a {
      color: #eee;
      font-family: Roboto, sans-serif;
      margin-top: 6px;
      border-radius: 2px; }
      .nav-menu .nav-menu__list > li > a:hover {
        cursor: pointer;
        color: #ba4436;
        background-color: #FBEAD0;
        font-weight: bold; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav-menu .nav-menu__list > li {
    font-size: 1.2em; } }
@media screen and (max-width: 991px) {
  .nav-menu__brand-img {
    max-width: 85px; }

  .nav-menu .nav-menu__list > li > a {
    margin: 1.5px 0; } }
.nav-menu .nav-menu__btn {
  border-color: #FBEAD0;
  transition: all 0.5s;
  margin-top: 9.5px;
  margin-bottom: 9.5px; }

.nav-menu .nav-menu__btn .icon-bar {
  background-color: #FBEAD0; }

.nav-menu .nav-menu__btn:focus {
  background-color: #ba4436; }
  .nav-menu .nav-menu__btn:focus .icon-bar {
    background-color: #FBEAD0; }

.nav-menu .nav-menu__btn:hover {
  background-color: #FBEAD0;
  transform: rotate(360deg); }
  .nav-menu .nav-menu__btn:hover .icon-bar {
    background-color: #ba4436; }

.nav-menu .navbar-collapse {
  border: 0; }

.zajawka {
  background: url("pictures/zajawka.jpg") no-repeat;
  background-size: cover;
  height: 453px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.zajawka-head {
  font-size: 70px;
  font-weight: 800;
  color: #FBEAD0;
  font-family: 'Viga', sans-serif;
  text-align: center;
  display: block;
  margin: -10px 0 0 0;
  /*text-shadow: 0 0 0.2em rgb(156, 0,0);*/ }

.zajawka-txt {
  font-size: 20px;
  font-weight: 600;
  color: #FBEAD0;
  display: block;
  font-family: 'Viga', sans-serif;
  text-align: center;
  margin: -5px 0 0 0;
  padding-top: 20px; }

.button {
  background-color: transparent;
  border: solid;
  border-color: #FBEAD0;
  width: 300px;
  height: 50px;
  margin-top: 20px;
  text-align: center; }

.button:hover {
  background-color: #ba4436;
  border-color: #ba4436; }

.button-txt {
  text-align: center;
  text-decoration: none;
  color: #FBEAD0;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Viga', sans-serif; }

#function {
  background-color: #ba4436; }

#function img {
  height: 35px; }

#function ul {
  color: #FBEAD0;
  margin: 0;
  padding: 0; }

#function ul li {
  font-size: 0.6em;
  list-style-type: none;
  margin-top: 10px; }

.long-info {
  margin-top: 10px;
  font-size: 1.3em;
  text-align: justify; }

.short-info {
  color: #FBEAD0; }

.short-info span {
  font-size: 1.4em;
  font-family: Roboto, sans-serif; }

.short-info img {
  margin-right: 10px; }

section#sign {
  background-color: #ba4436;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5em 0;
  margin-top: 5em; }
  section#sign .divider-flat {
    display: block;
    width: 20%;
    height: 0.6em;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 4em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to bottom right, #7BAB32, #81b334, #7BAB32); }
  section#sign h2 {
    margin-bottom: 1.7em;
    font-weight: bold;
    letter-spacing: 0.1em; }
  section#sign .icon-box {
    display: flex;
    align-items: center; }
  section#sign .row {
    padding: 1em 0; }
  section#sign i {
    font-size: 3em;
    width: 2em;
    height: 2em;
    border: 2px solid #eee;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  section#sign .label {
    font-size: 1.3em;
    margin-left: 1em; }
  section#sign p {
    margin-top: 3em;
    line-height: 1.8em; }

form.premiere {
  text-align: center;
  color: #eee;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 1em; }

form.premiere input {
  margin-top: 1.5em;
  border: none;
  outline: none;
  transition: 0.3s all;
  text-align: center;
  color: #742b1d; }
  form.premiere input[type=text], form.premiere input[type=email] {
    width: 100%;
    height: 3em; }
  form.premiere input:hover {
    cursor: pointer; }
  form.premiere input:active {
    border: none; }
  form.premiere input:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #742b1d;
    font-weight: bold; }
  form.premiere input[type=submit] {
    background-image: linear-gradient(to bottom right, #7BAB32, #6d972c, #7BAB32);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 14em;
    height: 3em;
    font-family: "Arial", sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    border-radius: 1em 0;
    transition: 0.5s all;
    color: #eee;
    font-weight: 900; }
    form.premiere input[type=submit]:hover {
      background-image: linear-gradient(to bottom left, #7BAB32, #5f8426, #7BAB32);
      color: #fff; }
    form.premiere input[type=submit]:active {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2); }

.team-txt {
  font-size: 50px;
  font-weight: 600;
  color: #ba4436;
  font-family: 'Viga', sans-serif;
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px; }

.member-name {
  text-align: center;
  font-family: 'Viga', sans-serif;
  font-size: 25px;
  font-weight: 800; }

.member-description {
  text-align: center;
  font-family: 'Viga', sans-serif; }

.socialMedia-box i {
  margin: 0 10px;
  color: #ba4436; }

.socialMedia-box a {
  text-decoration: none; }

#team {
  padding-top: 50px;
  padding-bottom: 50px; }

.member-box {
  padding-bottom: 60px; }

footer {
  background-color: #ba4436;
  box-shadow: 0 -5px 10px #742b1d; }

.footer-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  color: #ba4436;
  font-size: 1em; }
  .footer-team ul {
    margin: 0;
    list-style-type: none; }
    .footer-team ul li {
      padding: 5px 10px;
      background-color: #FBEAD0;
      border-top: 5px solid #ba4436;
      border-bottom: 5px solid #ba4436;
      border-radius: 2px; }
  .footer-team img {
    height: 20px;
    border-radius: 50%; }
  .footer-team span {
    margin-left: 30px; }

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  color: #eee;
  font-size: 1em;
  text-transform: uppercase; }
  .footer-list ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .footer-list ul li {
      padding: 5px 30px;
      background-color: #ca5749;
      border-top: 5px solid #ba4436;
      border-bottom: 5px solid #ba4436;
      text-align: center; }
  .footer-list img {
    height: 20px;
    margin-right: 30px; }

.footer-contact {
  padding: 10px 0;
  margin-top: 33px; }
  .footer-contact a {
    padding: 0;
    font-size: 1.2em;
    text-decoration: none;
    border: 5px solid #ba4436;
    border-radius: 5px;
    background-color: #FBEAD0;
    color: #ba4436; }
    .footer-contact a i {
      font-size: 1.5em; }
    .footer-contact a:hover {
      background-color: #ca5749;
      color: #FBEAD0;
      font-weight: bold;
      cursor: pointer; }
      .footer-contact a:hover .footer-contact__btn {
        border-left: 3px solid transparent; }
  .footer-contact a.footer-contact__btn--disabled:hover {
    cursor: auto; }

.footer-contact__text {
  height: 1.5em;
  line-height: 2.25em;
  text-align: center;
  padding-left: 0;
  padding-right: 0; }

.footer-contact__btn {
  padding: 5px 0;
  border-left: 3px solid #ba4436;
  text-align: center; }

.footer-contact__text--phone {
  font-size: 0.9em; }

.footer-caption {
  color: #eee;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  background-color: #7f2e25; }

@media screen and (max-width: 991px) {
  .footer-team, .footer-list {
    display: none; }

  .footer-contact {
    margin: 0; } }

/*# sourceMappingURL=style.css.map */
