///////////////////////////////////////////// Main /////////////////////////////////////////////////

$colorMain: #ba4436;
$colorSecondary: #FBEAD0;
$colorAccent: #222;
$colorFont: #eee;

@mixin shadow-content() {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 10px 10px rgba(0, 0, 0, 0.20);
}

@mixin flex-align() {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: $colorSecondary;
}

#home, #sign, #function, #team {
  padding-top: 73px; // padding to pass over navigation bar
}

///////////////////////////////////////////// Navbar //////////////////////////////////////////////

.nav-menu {
  padding: 15px 0;
  background-color: $colorAccent;
  @include shadow-content();
  transition: padding 1s;
}

.nav-menu__brand-img {
  max-width: 100px;
  transition: max-width 1s;
}

.nav-menu__brand {
  height: auto;
  padding: 0;
  margin-left: 20px;
}

.nav-menu {
  border: none;
  .nav-menu__list {
    margin: 0;
    & > li {
      text-align: center;
      font-size: 1.5em;
      & i {
        margin-right: 10px;
      }
      & > a {
        color: $colorFont;
        font-family: Roboto, sans-serif;
        margin: 5.5px 0 5.5px 30px; // center vertically in navbar, space between items
        transition: font-size 1s, margin 1s, background-color 1s, color 1s;
        &:hover {
          cursor: pointer;
          color: $colorAccent;
          background-color: $colorFont;
          font-weight: bold;
        }
        &:focus {
          color: $colorFont;
          background-color: $colorAccent;
          font-weight: normal;
        }
      }
      a.nav-menu__item--active {
        color: $colorAccent;
        background-color: $colorFont;
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav-menu .nav-menu__list > li {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 991px) {
  .nav-menu__brand-img {
    max-width: 85px;
  }
  .nav-menu .nav-menu__list > li > a {
    margin: 3px 0 3px 10px; // center vertically in navbar, space between items
  }
}

////////////////// Style for nav while collapse on scroll //////////////////

.nav-menu--collapse {
  padding-top: 2px;
  padding-bottom: 2px;
}

.nav-menu--collapse .nav-menu__brand-img {
  max-width: 80px;
}

.nav-menu--collapse .nav-menu__list > li > a {
  font-size: 0.8em;
  margin: 0 0 0 10px;
}

////////////////// Style for button to switch language //////////////////

.nav-menu .nav-menu__list > li > a.nav-menu__item--btnlang { // button for large device
  padding: 9.5px 0;
  &:hover {
    background-color: transparent;
    cursor: pointer;
  }
}

.nav-menu .navbar-header a.nav-menu__item--btnlang { // button for small device
  display: none;
  float: right;
  margin: 10.5px 20px 10.5px 0;
  &:hover {
    background-color: transparent;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu .navbar-header a.nav-menu__item--btnlang {
    display: block;
  }
  .nav-menu .nav-menu__list > li > a.nav-menu__item--btnlang {
    display: none;
  }
}

////////////////// Nav - button //////////////////

.nav-menu .nav-menu__btn {
  border-color: $colorFont;
  transition: all 0.5s;
  margin-top: 9.5px; // center vertically in navbar
  margin-bottom: 9.5px; // center vertically in navbar
}

.nav-menu .nav-menu__btn .icon-bar {
  background-color: $colorFont;
}

.nav-menu .nav-menu__btn:focus {
  background-color: $colorAccent;
  .icon-bar {
    background-color: $colorFont;
  }
}

.nav-menu .nav-menu__btn:hover {
  background-color: $colorFont;
  transform: rotate(360deg);
  .icon-bar {
    background-color: $colorAccent;
  }
}

.nav-menu .navbar-collapse {
  border: 0;
}

///////////////////////////////////////// Zajawka - Home //////////////////////////////////////////
.carousel {
  position: relative;
}

.carousel-overlay {
  background: linear-gradient(to bottom, transparent, #000, #000, #000, transparent);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1;
  opacity: 0.4;
}

.teaser .carousel-caption {
  z-index: 10;
}

.teaser .carousel .item {
  background-color: #777;
}

.teaser .zajawka-head {
  font-size: 4.5em;
  font-weight: 800;
  padding: 0.2em;
  color: $colorFont;
  font-family: 'Viga', sans-serif;
  text-align: center;
  display: block;
  margin: -10px 0 0 0;
  text-shadow: 0 0 50px #000;
}

.teaser .zajawka-txt {
  font-size: 1.3em;
  font-weight: 600;
  padding: 1.5em;
  color: $colorFont;
  display: block;
  font-family: 'Viga', sans-serif;
  text-align: center;
  margin: -5px 0 0 0;
  text-shadow: 0 0 50px #000;
}

.teaser .button {
  background-color: $colorMain;
  border: none;
  margin: 20px;
  text-align: center;
  padding: 0.7em 1.5em;
}

.teaser .button-txt {
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s;
  color: $colorFont;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Viga', sans-serif;
  &:hover {
    background-color: $colorAccent;
    color: $colorFont;
  }
}

@media screen and (max-width: 600px) {
  .teaser .button {
    display: none;
  }
  .teaser .zajawka-head {
    font-size: 2.3em;
  }
  .teaser .zajawka-txt {
    font-size: 1em;
  }
}

//////////////////////////////////////////// Game instruction //////////////////////////////////////

.game-instruction .carousel .item {
  background-color: white;
}

.game-instruction .carousel-control.left {
  background-image: none;
}

.game-instruction .carousel-control.right {
  background-image: none;
}

.game-instruction .glyphicon {
  color: #0f0f0f;
}

.game-instruction .carousel-indicators li {
  border: 1px solid #0f0f0f
}

.game-instruction .modal-title {
  text-align: center;
  font-family: 'Viga', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.game-instruction .zajawka-head {
  color: #0f0f0f;
  font-family: 'Viga', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.game-instruction .zajawka-txt {
  color: #0f0f0f;
  font-family: 'Viga', sans-serif;
  font-size: 15px;
}

.game-instruction .item {
  max-width: 100%;
  height: 500px;
}

.modal {
  position: fixed;
  z-index: 2000;
}

.instruction-slide {
  margin-left: auto;
  margin-right: auto;
}

//////////////////////////////////////////// Function /////////////////////////////////////////////

#function {
  background-color: #FBEAD0;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#function img {
  height: 100px;
}

#function ul {
  color: $colorFont;
  margin: 0;
  padding: 0;

}

#function ul li {
  font-size: 1em;
  list-style-type: none;

  margin-top: 10px;
}

.long-info {
  margin-top: 10px;
  font-size: 1.3em;
  text-align: justify;
}

#function .first_info {
  background-color: $colorAccent;
}

.short-info {
  color: $colorFont;
  background-color: #ba4436;
  padding: 40px;
  padding-bottom: 90px;
  text-align: justify;
  margin-bottom: 1em;
}

.function_title {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 1.1em;
  font-family: Roboto, sans-serif;
}

////////////////////////////////////////////// Sign ///////////////////////////////////////////////

section#sign {
  background-color: $colorMain;
  @include shadow-content();
  text-align: center;
  padding: 5em 0;
  margin-top: 5em;
  h2 {
    margin-bottom: 1.7em;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  .icon-box {
    display: flex;
    align-items: center;
  }
  .row {
    padding: 1em 0;
  }
  i {
    @include flex-align();
    @include shadow-content();
    font-size: 3em;
    width: 2em;
    height: 2em;
    border: 2px solid $colorFont;
    border-radius: 100%;
  }
  .label {
    font-size: 1.3em;
    margin-left: 1em;
  }
  p {
    margin-top: 3em;
    line-height: 1.8em;
  }
}

form.premiere {
  text-align: center;
  color: $colorFont;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 1em;
}

form.premiere input {
  margin-top: 1.5em;
  border: none;
  outline: none;
  transition: 0.3s all;
  text-align: center;
  color: #742b1d;
  &[type=text], &[type=email] {
    width: 100%;
    height: 3em;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    border: none;
  }
  &:focus {
    @include shadow-content();
    color: #742b1d;
    font-weight: bold
  }
  &[type=submit] {
    @include shadow-content();
    background: $colorAccent;
    width: 14em;
    height: 3em;
    font-family: "Arial", sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    border-radius: 1.5em 0;
    transition: 0.5s all;
    color: $colorFont;
    font-weight: 900;
    &:hover {
      background: darken($colorAccent, 10%);
      color: #fff;
      border-radius: 0 1.5em;
    }
    &:active {
      @include shadow-content();
    }
  }
}

////////////////////////////////////////////// Team ///////////////////////////////////////////////
@mixin teamAnimateEffect() {
  filter: brightness(40%) blur(2px) grayscale(10%);
}

#team {
  color: $colorFont;
  padding: 8em 0;
  .team-single {
    background-color: $colorMain;
    min-height: 580px;
    margin: 0.5em;
    margin-top: 4em;
  }
  .content {
    display: flex;
    flex-direction: column;
    .photo {
      padding: 0;
      width: 100%;
      margin: 0;
      @include flex-align();
      img {
        @include shadow-content();
        width: 200px;
        height: 200px;
        margin-top: -30px;
        padding: 15px;
        background-color: lighten($colorMain, 5%);
      }
    }
    .icons {
      @include flex-align();
      padding-top: 3em;
      a {
        text-decoration: none;
        &:hover > i {
          background-color: $colorAccent;
        }
        i {
          @include flex-align();
          @include shadow-content();
          border-radius: 100%;
          transition: all 0.5s;
          width: 1.7em;
          height: 1.7em;
          font-size: 2.5em;
          margin: 0.1em;
          color: #ddd;
          background-color: lighten($colorMain, 5%);
        }
      }

    }
  }
  .description {
    padding: 2em;
    h3 {
      text-align: center;
      margin-bottom: 1em;
      letter-spacing: 0.07em;
      font-weight: bold;
    }
    p {
      text-align: justify;
      font-size: 1.1em;
    }
  }
}

.Klimek, .Richert, .Ostrowska, .Paczkowski {
  transition: all 0.7s;
  cursor: pointer;
}

.background-klimek {
  .Richert, .Paczkowski, .Ostrowska {
    @include teamAnimateEffect();
  }
}

.background-richert {
  .Klimek, .Paczkowski, .Ostrowska {
    @include teamAnimateEffect();
  }
}

.background-ostrowska {
  .Klimek, .Richert, .Paczkowski {
    @include teamAnimateEffect();
  }
}

.background-paczkowski {
  .Klimek, .Richert, .Ostrowska {
    @include teamAnimateEffect();
  }
}

.animation-hidden {
  opacity: 0;
  transition: all 1s;
  overflow: hidden;
  transform: translateX(-200%)
}

.animation-visible {
  transition: all 1s;
  opacity: 1;
}

///////////////////////////////////////////// Footer //////////////////////////////////////////////

footer {
  background-color: $colorMain;
}

.footer-contact {
  padding: 30px 0;
  div.footer-contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    a {
      padding: 0 5px;
      text-decoration: none;
      text-align: center;
      color: $colorFont;
      transition: all 0.5s;
      i {
        font-size: 3em;
      }
      &:hover {
        color: $colorAccent;
      }
    }
  }

}

.footer-caption {
  color: $colorFont;
  font-size: 1.2em;
  font-weight: bold;
  padding: 30px 0;
  div.footer-caption-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 42px;
  }
  i {
    margin-right: 15px;
    font-size: 1.6em;
  }
}

@media screen and (max-width: 767px) {
  .footer-caption {
    padding: 15px 0;
    div.footer-caption-container {
      justify-content: center;
    }
  }
  .footer-contact {
    padding: 15px 0;
    div.footer-contact-container {
      justify-content: center;
      a {
        padding: 0 15px;
      }
    }
  }
}

///////////////////////////////////////////// Scroll Top //////////////////////////////////////////////

.arrow-to-top {
  width: 75px;
  height: 75px;
  padding-top: 8px;
  background: $colorAccent;
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 3em;
  text-align: center;
  cursor: pointer;
  display: none;
  transition: all 0.5s;
  color: $colorFont;
  border-radius: 5px;
  z-index: 1100;
  &:hover {
    background: lighten($colorAccent, 25%);
  }
}

///////////////////////////////////////////// Cookies //////////////////////////////////////////////

.cookies-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  background-color: $colorAccent;
  padding: 1em 3em;
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.5em;
  color: $colorFont;
  a {
    text-decoration: none;
    color: $colorFont;
    transition: all 0.5s;
    &:hover {
      color: darken($colorFont, 50%);
    }
  }
}

///////////////////////////////////////////// The Game - Questions Board //////////////////////////////////////////////

.game-background-board {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $colorMain;
  z-index: 1200;
  @include flex-align();
}

.game-begin-board {
  position: absolute;
  z-index: 1300;
  width: 500px;
  height: 500px;
  display: block;
  background: linear-gradient(to right, $colorAccent, darken($colorAccent, 10%), $colorAccent);
  padding-top: 40px;
  border: 30px dashed $colorMain;
  border-radius: 10px;
  text-align: center;
  @include flex-align();
  img {
    width: 130px;
    position: absolute;
    top: 40px;
  }
  p {
    position: absolute;
    bottom: 15px;
    right: 45px;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Caveat', cursive;
    color: $colorFont;
    text-shadow: 0 0 15px #000;
  }
}

.game-button {
  @include flex-align();
  @include shadow-content();
  display: block;
  width: 15em;
  padding: 1em;
  margin: 1em;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ddd;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
  transition: all 0.3s;
  text-shadow: 0 0 15px #000;
  text-align: center;
}

.game-button--entry {
  background-color: darken(forestgreen, 10%);
  &:hover {
    background-color: forestgreen;
    color: $colorFont;
  }
}

.game-button--exit {
  background-color: darken(darkred, 10%);
  &:hover {
    background-color: darkred;
    color: $colorFont;
  }
}

.game-button--instruction {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.1em;
  padding: 1em;
  width: auto;
  border-radius: 5px;
  background-color: $colorAccent;
  border: 1px solid lighten($colorAccent, 10%);
  @include shadow-content();
  &:hover {
    color: $colorFont;
    background-color: darken($colorAccent, 20%);
    border-color: transparent;
  }

}

.game-board-visible {
  display: block !important;
}

.game-board-hidden {
  display: none !important;
}

///////////////////////////////////////////// The Game - Main Board //////////////////////////////////////////////

@mixin game-info-field() {
  text-transform: uppercase;
  position: absolute;
  display: block;
  padding: 0.75em;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 1.1em;
  border-radius: 5px;
  color: $colorFont;
  background-color: $colorAccent;
}

$cellSize: 22px;

.game-main-wrapper-switch {
  z-index: 2000;
  position: absolute;
}

.game-main-wrapper-visible {
  display: block;
}

.game-main-wrapper-hidden {
  display: none;
}

.score-board {
  @include game-info-field();
  top: -50px;
  left: 0;
}

.time-board {
  @include game-info-field();
  top: -50px;
  right: 0;
}

.game-exit-button {
  @include game-info-field();
  outline: none;
  border: none;
  bottom: -50px;
  right: 0;
  transition: color 0.5s, background-color 0.5s;
    &:hover {
      background-color: $colorFont;
      color: $colorMain;
    }
}

.countdown {
  font-size: 15em;
  margin: 0;
  color: $colorFont;
  position: absolute;
  text-shadow: 10px 10px 5px rgba(0,0,0,1);
}

.game-main {
  @include flex-align();
}

.game-main table {
  border-color: transparent;
  border-spacing: 0;
  &:focus {
    border: none;
    outline: none;
  }
}

.game-main tbody {
  @include shadow-content();
  background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/asfalt.png');
  box-shadow: 0 0 80px green inset;
}

.game-main td {
  width: $cellSize;
  height: $cellSize;
}

.car {
  background: url('pictures/gameBus.png') center center;
  background-size: $cellSize;
}

.car--up {
  transform: rotate(0deg);
}

.car--right {
  transform: rotate(90deg);
}

.car--left {
  transform: rotate(-90deg);
}

.car--down {
  transform: rotate(180deg);
}

.obstacle {
  background-color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.obstacle-skycraper {
  background: linear-gradient(to left bottom, #333, #666, #222, #333);
  border: 1px solid #999;
  box-shadow: 0 0 10px #000;
  background-size: $cellSize;
}

.obstacle-fountain {
  background: url('pictures/gameFountain.png') center #306225;
  background-size: $cellSize;
}

.obstacle-repair--sign {
  background: url('pictures/gameRepairSign.png') center #111;
  background-size: $cellSize;
}

.obstacle-repair--blockade {
  background: url('pictures/gameRepairBlockade.png') center #111;
  background-size: $cellSize;
}

.obstacle-parking--last {
  background: #777;
  background-size: $cellSize;
}

.obstacle-grass {
  background: url('pictures/gameGrass.png') center;
  background-size: $cellSize;
}

.obstacle-tree {
  background: url('pictures/gameTree.png') center #111;
  background-size: $cellSize;
}

.obstacle-tree--lighter {
  background: url('pictures/gameTreeLighter.png') center #111;
  background-size: $cellSize;
}

.passenger {
  background: url('pictures/gamePassenger.png') center;
  background-size: $cellSize;
}

.passenger--red {
  background: url('pictures/gamePassengerRed.png') center #111;
  background-size: $cellSize;
}

.bottle {
  background: url('pictures/gameBottle.png') center #111;
  background-size: $cellSize;
}

.arrow-buttons {
  @include game-info-field();
  display: none;
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  &:active {
    background-color: $colorFont;
    color: $colorMain;
  }
}

.game-main-wrapper-switch .arrow--up {
  left: 100px;
}
.game-main-wrapper-switch .arrow--down {
  left: 100px;
  bottom: -85px;
}
.game-main-wrapper-switch .arrow--left {
  left: 67px;
  bottom: -85px;
}
.game-main-wrapper-switch .arrow--right {
  left: 138px;
  bottom: -85px;
}

@media screen and (max-width: 991px) {
  $cellSize: 15px;
  .game-main td {
    width: $cellSize;
    height: $cellSize;
  }
  .car, .obstacle, .passenger, .bottle {
    background-size: $cellSize;
  }
  .arrow-buttons {
    display: block;
  }
  .score-board {
    font-size: 1em;
  }

  .time-board {
    font-size: 1em;
  }
  .game-exit-button {
    font-size: 1em;
  }
}