///////////////////////////////////////////// Main /////////////////////////////////////////////////

$colorMain: #ba4436;
$colorSecondary: #FBEAD0;
$colorAccent: #222;

@mixin shadow-content() {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 10px 10px rgba(0, 0, 0, 0.20);
}

@mixin flex-align() {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: $colorSecondary;
}

#sign, #function, #team {
  padding-top: 73px; // padding to pass over navigation bar
}

///////////////////////////////////////////// Navbar //////////////////////////////////////////////

.nav-menu {
  padding: 15px 0;
  background-color: $colorAccent;
  @include shadow-content();
  transition: all 1s;
}

.nav-menu__brand-img {
  max-width: 100px;
  transition: all 1s;
}

.nav-menu__brand {
  height: auto;
  padding: 0;
  margin-left: 20px;
}

.nav-menu {
  border: none;
  .nav-menu__list {
    margin: 0;
    & > li {
      text-align: center;
      font-size: 1.5em;
      & i {
        margin-right: 10px;
      }
      & > a {
        color: #eee;
        font-family: Roboto, sans-serif;
        margin: 5.5px 0 5.5px 30px; // center vertically in navbar, space between items
        transition: all 1s;
        &:hover {
          cursor: pointer;
          color: $colorAccent;
          background-color: #eee;
          font-weight: bold;
        }
        &:focus {
          color: #eee;
          background-color: $colorAccent;
          font-weight: normal;
        }
      }
      a.nav-menu__item--active {
        color: $colorAccent;
        background-color: #eee;
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav-menu .nav-menu__list > li {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 991px) {
  .nav-menu__brand-img {
    max-width: 85px;
  }
  .nav-menu .nav-menu__list > li > a {
    margin: 3px 0 3px 10px; // center vertically in navbar, space between items
  }
}

////////////////// Style for nav while collapse on scroll //////////////////

.nav-menu--collapse {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-menu--collapse .nav-menu__brand-img {
  max-width: 80px;
}

.nav-menu--collapse .nav-menu__list > li > a {
  font-size: 0.8em;
  margin: 0 0 0 10px;
}

////////////////// Style for button to switch language //////////////////

.nav-menu .nav-menu__list > li > a.nav-menu__item--btnlang { // button for large device
  padding: 9.5px 0;
  &:hover {
    background-color: transparent;
    cursor: pointer;
  }
}

.nav-menu .navbar-header a.nav-menu__item--btnlang { // button for small device
  display: none;
  float: right;
  margin: 10.5px 20px 10.5px 0;
  &:hover {
    background-color: transparent;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu .navbar-header a.nav-menu__item--btnlang {
    display: block;
  }
  .nav-menu .nav-menu__list > li > a.nav-menu__item--btnlang {
    display: none;
  }
}

////////////////// Nav - button //////////////////

.nav-menu .nav-menu__btn {
  border-color: #eee;
  transition: all 0.5s;
  margin-top: 9.5px; // center vertically in navbar
  margin-bottom: 9.5px; // center vertically in navbar
}

.nav-menu .nav-menu__btn .icon-bar {
  background-color: #eee;
}

.nav-menu .nav-menu__btn:focus {
  background-color: $colorAccent;
  .icon-bar {
    background-color: #eee;
  }
}

.nav-menu .nav-menu__btn:hover {
  background-color: #eee;
  transform: rotate(360deg);
  .icon-bar {
    background-color: $colorAccent;
  }
}

.nav-menu .navbar-collapse {
  border: 0;
}

///////////////////////////////////////// Zajawka - Home //////////////////////////////////////////
.carousel {
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #777;
}
.zajawka-head {
  font-size: 60px;
  font-weight: 800;
  color: $colorSecondary;
  font-family: 'Viga', sans-serif;
  text-align: center;
  display: block;
  margin: -10px 0 0 0;
}
.zajawka-txt {
  font-size: 20px;
  font-weight: 600;
  color: $colorSecondary;
  display: block;
  font-family: 'Viga', sans-serif;
  text-align: center;
  margin: -5px 0 0 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.button {
  background-color: transparent;
  border: solid;
  border-color: $colorSecondary;
  margin-top: 20px;
  text-align: center;
}
.button:hover {
  background-color: $colorMain;
  border-color: $colorMain;
}
.button-txt {
  text-align: center;
  text-decoration: none;
  color: $colorSecondary;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Viga', sans-serif;
}
@media screen and (max-width: 600px ){
  .button {
    display: none;
  }
  .zajawka-head {
    font-size: 30px;
  }
  .zajawka-txt {
    font-size: 10px;
  }
}

//////////////////////////////////////////// Function /////////////////////////////////////////////

#function {
  background-color: #FBEAD0;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#function img {
  height: 100px;
}

#function ul {
  color: #eee;
  margin: 0;
  padding: 0;

}

#function ul li {
  font-size: 1em;
  list-style-type: none;

  margin-top: 10px;
}

.long-info {
  margin-top: 10px;
  font-size: 1.3em;
  text-align: justify;
}

#function .first_info {
  background-color: $colorAccent;
}

.short-info {
  color: #eee;
  background-color: #ba4436;
  padding: 40px;
  padding-bottom: 90px;
  text-align: justify;
  margin-bottom: 1em;
}

.function_title {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 1.4em;
  font-family: Roboto, sans-serif;
}

////////////////////////////////////////////// Sign ///////////////////////////////////////////////

section#sign {
  background-color: $colorMain;
  @include shadow-content();
  text-align: center;
  padding: 5em 0;
  margin-top: 5em;
  h2 {
    margin-bottom: 1.7em;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  .icon-box {
    display: flex;
    align-items: center;
  }
  .row {
    padding: 1em 0;
  }
  i {
    @include flex-align();
    @include shadow-content();
    font-size: 3em;
    width: 2em;
    height: 2em;
    border: 2px solid #eee;
    border-radius: 100%;
  }
  .label {
    font-size: 1.3em;
    margin-left: 1em;
  }
  p {
    margin-top: 3em;
    line-height: 1.8em;
  }
}

form.premiere {
  text-align: center;
  color: #eee;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 1em;
}

form.premiere input {
  margin-top: 1.5em;
  border: none;
  outline: none;
  transition: 0.3s all;
  text-align: center;
  color: #742b1d;
  &[type=text], &[type=email] {
    width: 100%;
    height: 3em;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    border: none;
  }
  &:focus {
    @include shadow-content();
    color: #742b1d;
    font-weight: bold
  }
  &[type=submit] {
    @include shadow-content();
    background: $colorAccent;
    width: 14em;
    height: 3em;
    font-family: "Arial", sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    border-radius: 1.5em 0;
    transition: 0.5s all;
    color: #eee;
    font-weight: 900;
    &:hover {
      background: darken($colorAccent, 10%);
      color: #fff;
      border-radius: 0 1.5em;
    }
    &:active {
      @include shadow-content();
    }
  }
}

////////////////////////////////////////////// Team ///////////////////////////////////////////////
@mixin teamAnimateEffect(){
  filter: brightness(30%) blur(2px);
}

#team {
  color: #eee;
  padding-bottom: 80px;
  .team-single {
    background-color: $colorMain;
    min-height: 550px;
    margin: 0.5em;
    margin-top: 4em;
  }
  .content {
    display: flex;
    flex-direction: column;
    .photo {
      padding: 0;
      width: 100%;
      margin: 0;
      @include flex-align();
      img {
        @include shadow-content();
        width: 200px;
        height: 200px;
        margin-top: -30px;
        padding: 15px;
        background-color: lighten($colorMain, 5%);
      }
    }
    .icons {
      @include flex-align();
      padding-top: 3em;
      a {
        text-decoration: none;
        &:hover > i {
          background-color: $colorAccent;
        }
        i {
          @include flex-align();
          @include shadow-content();
          border-radius: 100%;
          transition: all 0.5s;
          width: 1.7em;
          height: 1.7em;
          font-size: 2.5em;
          margin: 0.1em;
          color: #ddd;
          background-color: lighten($colorMain, 5%);
        }
      }

    }
  }
  .description {
    padding: 2em;
    h3 {
      text-align: center;
      margin-bottom: 1em;
      letter-spacing: 0.07em;
      font-weight: bold;
    }
    p {
      text-align: justify;
      font-size: 1.1em;
    }
  }
}

.Klimek, .Richert, .Ostrowska, .Paczkowski {
  transition: all 0.5s;
  cursor: pointer;
}

.background-klimek {
  background: url("pictures/teamSecondWorldWar.jpg") fixed;
  background-size: cover;
  .Klimek {
    transform: scale(1.05);
  }
  .Richert, .Paczkowski, .Ostrowska {
    @include teamAnimateEffect();
  }
}

.background-richert {
  background: url("pictures/teamFootball.jpg") fixed;
  background-size: cover;
  .Richert {
    transform: scale(1.05);
  }
  .Klimek, .Paczkowski, .Ostrowska {
    @include teamAnimateEffect();
  }
}

.background-ostrowska {
  background: url("pictures/teamTraveling.jpg") fixed;
  background-size: cover;
  .Ostrowska {
    transform: scale(1.05);
  }
  .Klimek, .Richert, .Paczkowski {
    @include teamAnimateEffect();
  }
}

.background-paczkowski {
  background: url("pictures/teamOldCar.jpg") fixed;
  background-size: cover;
  .Paczkowski {
    transform: scale(1.05);
  }
  .Klimek, .Richert, .Ostrowska {
    @include teamAnimateEffect();
  }
}

///////////////////////////////////////////// Footer //////////////////////////////////////////////

footer {
  background-color: $colorMain;
}

.footer-contact {
  padding: 30px 0;
  div.footer-contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    a {
      padding: 0 5px;
      text-decoration: none;
      text-align: center;
      color: #eee;
      transition: all 0.5s;
      i {
        font-size: 3em;
      }
      &:hover {
        color: $colorAccent;
      }
    }
  }

}

.footer-caption {
  color: #eee;
  font-size: 1.2em;
  font-weight: bold;
  padding: 30px 0;
  div.footer-caption-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 42px;
  }
  i {
    margin-right: 15px;
    font-size: 1.6em;
  }
}

@media screen and (max-width: 767px) {
  .footer-caption {
    padding: 15px 0;
    div.footer-caption-container {
      justify-content: center;
    }
  }
  .footer-contact {
    padding: 15px 0;
    div.footer-contact-container {
      justify-content: center;
      a {
        padding: 0 15px;
      }
    }
  }
}

///////////////////////////////////////////// Scroll Top //////////////////////////////////////////////

#scrollToTop {
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: black;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  display: none;
}
#scrollToTop:hover {
  background: green }

/////////////////////////////////Cookies///////////////////////////////////////////////////////
.cookies {
  display: none;
}