body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #FBEAD0; }

#sign, #function, #team {
  padding-top: 73px; }

.nav-menu {
  padding: 15px 0;
  background-color: #222;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 1s; }

.nav-menu__brand-img {
  max-width: 100px;
  transition: all 1s; }

.nav-menu__brand {
  height: auto;
  padding: 0;
  margin-left: 20px; }

.nav-menu {
  border: none; }
  .nav-menu .nav-menu__list {
    margin: 0; }
    .nav-menu .nav-menu__list > li {
      text-align: center;
      font-size: 1.5em; }
      .nav-menu .nav-menu__list > li i {
        margin-right: 10px; }
      .nav-menu .nav-menu__list > li > a {
        color: #eee;
        font-family: Roboto, sans-serif;
        margin: 5.5px 0 5.5px 30px;
        transition: all 1s; }
        .nav-menu .nav-menu__list > li > a:hover {
          cursor: pointer;
          color: #222;
          background-color: #eee;
          font-weight: bold; }
        .nav-menu .nav-menu__list > li > a:focus {
          color: #eee;
          background-color: #222;
          font-weight: normal; }
      .nav-menu .nav-menu__list > li a.nav-menu__item--active {
        color: #222;
        background-color: #eee;
        font-weight: bold; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav-menu .nav-menu__list > li {
    font-size: 1.3em; } }
@media screen and (max-width: 991px) {
  .nav-menu__brand-img {
    max-width: 85px; }

  .nav-menu .nav-menu__list > li > a {
    margin: 3px 0 3px 10px; } }
.nav-menu--collapse {
  padding-top: 0;
  padding-bottom: 0; }

.nav-menu--collapse .nav-menu__brand-img {
  max-width: 80px; }

.nav-menu--collapse .nav-menu__list > li > a {
  font-size: 0.8em;
  margin: 0 0 0 10px; }

.nav-menu .nav-menu__list > li > a.nav-menu__item--btnlang {
  padding: 9.5px 0; }
  .nav-menu .nav-menu__list > li > a.nav-menu__item--btnlang:hover {
    background-color: transparent;
    cursor: pointer; }

.nav-menu .navbar-header a.nav-menu__item--btnlang {
  display: none;
  float: right;
  margin: 10.5px 20px 10.5px 0; }
  .nav-menu .navbar-header a.nav-menu__item--btnlang:hover {
    background-color: transparent;
    cursor: pointer; }

@media screen and (max-width: 767px) {
  .nav-menu .navbar-header a.nav-menu__item--btnlang {
    display: block; }

  .nav-menu .nav-menu__list > li > a.nav-menu__item--btnlang {
    display: none; } }
.nav-menu .nav-menu__btn {
  border-color: #eee;
  transition: all 0.5s;
  margin-top: 9.5px;
  margin-bottom: 9.5px; }

.nav-menu .nav-menu__btn .icon-bar {
  background-color: #eee; }

.nav-menu .nav-menu__btn:focus {
  background-color: #222; }
  .nav-menu .nav-menu__btn:focus .icon-bar {
    background-color: #eee; }

.nav-menu .nav-menu__btn:hover {
  background-color: #eee;
  transform: rotate(360deg); }
  .nav-menu .nav-menu__btn:hover .icon-bar {
    background-color: #222; }

.nav-menu .navbar-collapse {
  border: 0; }

.zajawka {
  background: url("pictures/homeBackground.jpg") fixed center no-repeat;
  background-size: cover;
  height: 453px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.zajawka-head {
  font-size: 70px;
  font-weight: 800;
  color: #FBEAD0;
  font-family: 'Viga', sans-serif;
  text-align: center;
  display: block;
  margin: -10px 0 0 0;
  /*text-shadow: 0 0 0.2em rgb(156, 0,0);*/ }

.zajawka-txt {
  font-size: 20px;
  font-weight: 600;
  color: #FBEAD0;
  display: block;
  font-family: 'Viga', sans-serif;
  text-align: center;
  margin: -5px 0 0 0;
  padding-top: 20px; }

.button {
  background-color: transparent;
  border: solid;
  border-color: #FBEAD0;
  width: 300px;
  height: 50px;
  margin-top: 20px;
  text-align: center; }

.button:hover {
  background-color: #ba4436;
  border-color: #ba4436; }

.button-txt {
  text-align: center;
  text-decoration: none;
  color: #FBEAD0;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Viga', sans-serif; }

#function {
  background-color: #FBEAD0;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#function img {
  height: 100px; }

#function ul {
  color: #eee;
  margin: 0;
  padding: 0; }

#function ul li {
  font-size: 1em;
  list-style-type: none;
  margin-top: 10px; }

.long-info {
  margin-top: 10px;
  font-size: 1.3em;
  text-align: justify; }

#function .first_info {
  background-color: #222; }

.short-info {
  color: #eee;
  background-color: #ba4436;
  padding: 40px;
  padding-bottom: 90px;
  text-align: justify;
  margin-bottom: 1em; }

.function_title {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 1.4em;
  font-family: Roboto, sans-serif; }

section#sign {
  background-color: #ba4436;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5em 0;
  margin-top: 5em; }
  section#sign h2 {
    margin-bottom: 1.7em;
    font-weight: bold;
    letter-spacing: 0.1em; }
  section#sign .icon-box {
    display: flex;
    align-items: center; }
  section#sign .row {
    padding: 1em 0; }
  section#sign i {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
    font-size: 3em;
    width: 2em;
    height: 2em;
    border: 2px solid #eee;
    border-radius: 100%; }
  section#sign .label {
    font-size: 1.3em;
    margin-left: 1em; }
  section#sign p {
    margin-top: 3em;
    line-height: 1.8em; }

form.premiere {
  text-align: center;
  color: #eee;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 1em; }

form.premiere input {
  margin-top: 1.5em;
  border: none;
  outline: none;
  transition: 0.3s all;
  text-align: center;
  color: #742b1d; }
  form.premiere input[type=text], form.premiere input[type=email] {
    width: 100%;
    height: 3em; }
  form.premiere input:hover {
    cursor: pointer; }
  form.premiere input:active {
    border: none; }
  form.premiere input:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #742b1d;
    font-weight: bold; }
  form.premiere input[type=submit] {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
    background: #222;
    width: 14em;
    height: 3em;
    font-family: "Arial", sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    border-radius: 1.5em 0;
    transition: 0.5s all;
    color: #eee;
    font-weight: 900; }
    form.premiere input[type=submit]:hover {
      background: #090909;
      color: #fff;
      border-radius: 0 1.5em; }
    form.premiere input[type=submit]:active {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2); }

#team {
  color: #eee;
  padding-bottom: 80px; }
  #team .team-single {
    background-color: #ba4436;
    min-height: 550px;
    margin: 0.5em;
    margin-top: 4em; }
  #team .content {
    display: flex;
    flex-direction: column; }
    #team .content .photo {
      padding: 0;
      width: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      #team .content .photo img {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
        width: 200px;
        height: 200px;
        margin-top: -30px;
        padding: 15px;
        background-color: #c85042; }
    #team .content .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 3em; }
      #team .content .icons a {
        text-decoration: none; }
        #team .content .icons a:hover > i {
          background-color: #222; }
        #team .content .icons a i {
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
          border-radius: 100%;
          transition: all 0.5s;
          width: 1.7em;
          height: 1.7em;
          font-size: 2.5em;
          margin: 0.1em;
          color: #ddd;
          background-color: #c85042; }
  #team .description {
    padding: 2em; }
    #team .description h3 {
      text-align: center;
      margin-bottom: 1em;
      letter-spacing: 0.07em;
      font-weight: bold; }
    #team .description p {
      text-align: justify;
      font-size: 1.1em; }

.Klimek, .Richert, .Ostrowska, .Paczkowski {
  transition: all 0.5s;
  cursor: pointer; }

.background-klimek {
  background: url("pictures/teamSecondWorldWar.jpg") fixed;
  background-size: cover; }
  .background-klimek .Klimek {
    transform: scale(1.05); }
  .background-klimek .Richert, .background-klimek .Paczkowski, .background-klimek .Ostrowska {
    filter: brightness(30%) blur(2px); }

.background-richert {
  background: url("pictures/teamFootball.jpg") fixed;
  background-size: cover; }
  .background-richert .Richert {
    transform: scale(1.05); }
  .background-richert .Klimek, .background-richert .Paczkowski, .background-richert .Ostrowska {
    filter: brightness(30%) blur(2px); }

.background-ostrowska {
  background: url("pictures/teamTraveling.jpg") fixed;
  background-size: cover; }
  .background-ostrowska .Ostrowska {
    transform: scale(1.05); }
  .background-ostrowska .Klimek, .background-ostrowska .Richert, .background-ostrowska .Paczkowski {
    filter: brightness(30%) blur(2px); }

.background-paczkowski {
  background: url("pictures/teamOldCar.jpg") fixed;
  background-size: cover; }
  .background-paczkowski .Paczkowski {
    transform: scale(1.05); }
  .background-paczkowski .Klimek, .background-paczkowski .Richert, .background-paczkowski .Ostrowska {
    filter: brightness(30%) blur(2px); }

footer {
  background-color: #ba4436; }

.footer-contact {
  padding: 30px 0; }
  .footer-contact div.footer-contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
    .footer-contact div.footer-contact-container a {
      padding: 0 5px;
      text-decoration: none;
      text-align: center;
      color: #eee;
      transition: all 0.5s; }
      .footer-contact div.footer-contact-container a i {
        font-size: 3em; }
      .footer-contact div.footer-contact-container a:hover {
        color: #222; }

.footer-caption {
  color: #eee;
  font-size: 1.2em;
  font-weight: bold;
  padding: 30px 0; }
  .footer-caption div.footer-caption-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 42px; }
  .footer-caption i {
    margin-right: 15px;
    font-size: 1.6em; }

@media screen and (max-width: 767px) {
  .footer-caption {
    padding: 15px 0; }
    .footer-caption div.footer-caption-container {
      justify-content: center; }

  .footer-contact {
    padding: 15px 0; }
    .footer-contact div.footer-contact-container {
      justify-content: center; }
      .footer-contact div.footer-contact-container a {
        padding: 0 15px; } }
#scrollToTop {
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: black;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  display: none; }

#scrollToTop:hover {
  background: green; }

/*# sourceMappingURL=style.css.map */
